ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

ul {
  display: flex;
  flex-flow: row wrap;
}

li {
  height: 12px;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  display: flex;
}

li:nth-child(1) {
  background-color: #39a935;
}

li:nth-child(2) {
  background-color: #ff9323;
}

table {
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
}

#ies-gauge g.arc {
  fill: steelblue;
}

#ies-gauge g.pointer {
  fill: #e85116;
  stroke: #b64011;
}

#ies-gauge g.label text {
  text-anchor: middle;
  font-size: 14px;
  font-weight: bold;
  fill: #666;
}


#tooltip {
  position: absolute;
  width: 200px;
  height: auto;
  padding: 10px;
  background-color: white;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  pointer-events: none;
  z-index: 2;
}

#tooltip.hidden {
  display: none;
}

#tooltip p {
  margin: 0;
  font-family: Futura;
  font-size: 16px;
  line-height: 20px;
}