  <div id="tooltip" style="opacity: 0;">
    <p><strong id="name_segmento">Percentage Value</strong></p>
    <p>Total: <span id="value">n</span></p>
  </div>

<h1 class="text-center">{{ies?.nombre}}</h1>
<mat-card class="introduction">
  <img  class="float-left" height="350" src="{{ies?.logo}}">
  <!--<img *ngIf="!UNAM" class="float-left" height="350" src="http://via.placeholder.com/350x350"> -->
  <h1 class="text-center"><span style="font-size:12px;margin-left:12px" id="ies-gauge"></span></h1>
  <h2 class="text-center">Ejes</h2>
  <div class="text-center chart"></div>
  <div class="clearfix"></div>
</mat-card>

<h1 class="text-center">Igualdad de oportunidades</h1>

<mat-card>
  <h2 class="text-center text-uppercase">Poblacion estudiantil</h2>
  <div class="EST">

  </div>
  <div class="clearfix"></div>
  
  <h2 class="text-center text-uppercase">Personal Administrativo</h2>

  <div class="ADM"></div>
  
  <h2 class="text-center text-uppercase">Personal Académico</h2>

  <div class="ACD"></div>

  <div class="clearfix"></div>
  
  



</mat-card>

<!-- <ng-container *ngFor="let eje of ejes">
  <h1 class="text-center">{{eje.indicador__eje__nombre_corto}}</h1>
  <mat-card class="text-center bubble-chart"></mat-card>
</ng-container> -->


 <h1 class="text-center">Legislación</h1> 
<mat-card style="margin: 18px 0"><span class="promedio-chart" style="margin-right:40px;border-right:1px solid gray;display:inline-block"></span><span class="bubble-chart"></span></mat-card>

 <h1 class="text-center">Corresponsabilidad</h1> 
<mat-card style="margin: 18px 0"><span class="promedio-chart" style="margin-right:40px;border-right:1px solid gray;display:inline-block"></span><span class="bubble-chart"></span></mat-card>

 <h1 class="text-center">Estadísticas</h1> 
<mat-card style="margin: 18px 0"><span class="promedio-chart" style="margin-right:40px;border-right:1px solid gray;display:inline-block"></span><span class="bubble-chart"></span></mat-card>

 <h1 class="text-center">Lenguaje</h1> 
<mat-card style="margin: 18px 0"><span class="promedio-chart" style="margin-right:40px;border-right:1px solid gray;display:inline-block"></span><span class="bubble-chart"></span></mat-card>

 <h1 class="text-center">Sensibilización</h1> 
<mat-card style="margin: 18px 0"><span class="promedio-chart" style="margin-right:40px;border-right:1px solid gray;display:inline-block"></span><span class="bubble-chart"></span></mat-card>

 <h1 class="text-center">Estudios de género</h1> 
<mat-card style="margin: 18px 0"><span class="promedio-chart" style="margin-right:40px;border-right:1px solid gray;display:inline-block"></span><span class="bubble-chart"></span></mat-card>

 <h1 class="text-center">No violencia</h1> 
<mat-card style="margin: 18px 0"><span class="promedio-chart" style="margin-right:40px;border-right:1px solid gray;display:inline-block"></span><span class="bubble-chart"></span></mat-card>
