<h1 class="text-center">{{eje?.nombre}}</h1>
<h2 class="text-center">({{eje?.nombre_corto}})</h2>

<mat-card style="margin-top:12px" class="introduction">
  
  <!-- <div class="float-left text-center" style="width:30%">
  </div> -->
  <img class="main-img"
    [src]="'assets/img/' + (eje?.nombre_corto | lowercase) + '.png'">

  <!-- <div class="float-left" style="width:70%"> -->
  <p>{{eje?.descripcion}}</p>

  <button 
    (click)="showMore = true" 
    *ngIf="!showMore" 
    mat-button color="primary" 
    class="float-right text-uppercase">Ver más</button>
  
  <div class="clearfix"></div>
  
  <span *ngIf="showMore"></span>
  
  <!-- </div>  el clear fix de ahi arriba va aca abajo -->

</mat-card>

<bolitas></bolitas>