<mat-card style="margin-top:12px">
  
  <mat-form-field>
    <input matInput placeholder="Username" #username [formControl]="usernameFormControl" required>
    <mat-error *ngIf="usernameFormControl.hasError('required')">
      Un usuario es <strong>requerido</strong>.
    </mat-error>
    <mat-error *ngIf="usernameFormControl.hasError('notFound')">
      Usuario <strong>no válido</strong>.
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <input (keydown.enter)="login(username.value, password.value)" type="password" matInput #password placeholder="Contraseña" [formControl]="passwordFormControl" required>
    <mat-error *ngIf="passwordFormControl.hasError('required')">
      Una contraseña es <strong>requerida</strong>.
    </mat-error>
  </mat-form-field>
  
  <button #submit [disabled]="!usernameFormControl.valid || !passwordFormControl.valid" 
          (click)="login(username.value, password.value)"
          type="submit" mat-raised-button color="primary">{{"Iniciar sesión" | uppercase}}</button>
  
</mat-card>