/* this file will be extracted to main dist folder and is imported in index.html */
/* This file is for setting global styles  */
@import 'variables';
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
$fa-font-path: "~font-awesome/fonts" !default;
@import "~font-awesome/scss/font-awesome";


nav {
  margin-top: 16px;
}

nav a {
  background-color: $nav-button-color;
  color: white;
  padding: 8px 16px;
  margin: 8px;
  vertical-align: middle;
  line-height: 1.25;
  text-align: center;
  text-decoration: none;
  border-radius: 4px;
}

.bolita{
  display: block;
  margin: 5px auto;
}

.heat{
  display: block;
  margin: 0px auto;
}

.img-ejes{
  max-width: 100%;
}

.introduction{
  p{
    font-size: 16pt;
  }
  h2{
    color: gray;
  }
}

.main-img{
  padding: 0px 24px 0px 0px;
  margin: 0px;
  display: inline;
  float: left;
  max-width: 350px;
  max-height: 350px;
}

.text-center {
  text-align: center;
}

a {
  text-decoration: none;
}

.mat-card {
  font-size: 20px;
}

.text-right {
  text-align: right;
}

.float-right {
  float:right;
}

.float-left {
  float: left;
}

.text-uppercase {
  text-transform: uppercase;
}

.show-more {
  color: #4CAF50;
}

.clearfix {
  clear: both;
}

.align-middle {
  vertical-align: middle;
}

.width-half {
  width: 50%;
  display: inline;
}

.barchart-text {
  display: inline-block;
  width: 32.3%;
  text-align: center;
  margin: 12px 0 6px 0 ;
  text-transform: uppercase;
}
