<mat-form-field floatPlaceholder="never">
  <input #filter matInput placeholder="Buscar IES" [matAutocomplete]="auto" [formControl]="iesFormControl">
  <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selectIES($event)">
    <mat-option *ngFor="let ies of filteredIes | async" [value]="ies.name">
      <span>{{ies.name}}</span>
    </mat-option>
  </mat-autocomplete>
</mat-form-field>