@font-face {
    font-family: 'Soberana Sans Black';
    src: url("/assets/fonts/SoberanaSans-Black.woff") format('woff');
}

html, body{
  height: 100%;
  font-family: 'Soberana Sans Black'!important;
  margin: 0;
  background-color: #EEEEEE;
}


.active {
  border-bottom: 4px solid #66BB6A!important;
}

.mat-toolbar {
  display: flex;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 0;
  background-color: #fff;
}

.header{
  max-width: 1170px !important;
  margin: 0px auto;
}

.mat-toolbar > span:nth-child(n+2) {
  padding: 0 14px;
}

.mat-icon-button{
  text-align: center;
}

.mat-header-cell{
  text-align: center;
}
/* xs sm md lg
/*gt st

/*
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1170px;
  }
}
*/
.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 20px;
}


footer img {
  margin: 24px 32px;
  height: 60px;
}

footer {
  color: #616161;
}

footer p span {
  margin-left:12px;
}

footer i {
  margin: 24px;
  color: #9E9E9E;
  font-size: 52px!important;
}
