
<mat-sidenav-container class="example-container">
  <mat-sidenav-content>

    <mat-toolbar class="header" >
      <a [routerLink]=" ['./'] " fxLayout="row" fxFlex="192px">
        <img class="align-middle" height="40px" src="assets/img/onigies.png">
      </a>


      <div fxShow="false" fxShow.gt-xs fxLayout="row" fxFlex="auto">
        <filter fxFlex="auto"></filter>

        <button mat-button [matMenuTriggerFor]="ejesMenu" fxLayout="row" ><b>EJES</b></button>
        <mat-menu #ejesMenu="matMenu" fxLayout="row" fxFlex="nogrow">
          <button *ngFor="let eje of ejes" 
            [routerLink]=" ['./eje/', eje.slug | lowercase ]" mat-menu-item>{{eje.nombre}}</button>
        </mat-menu>
        <button fxLayout="row" routerLinkActive="active" mat-button [routerLink]=" ['./about'] "><b>ACERCA DE</b></button>
      </div>
      <span fxFlex fxHide.gt-xs></span>
      <button mat-icon-button color="accent" fxHide.gt-xs fxLayout="row" fxFlex="none">
        <mat-icon (click)="sidenav.toggle()" aria-label="Ícono de menú desplegable">menu</mat-icon>
      </button>      
      <!--

      <button [routerLink]=" ['dashboard'] " mat-button>Dashboard</button>
      <button (click)="logout()" mat-button>Log out</button>
      <button [routerLink]=" ['login'] " mat-button>Login</button>
      -->
    </mat-toolbar>

    <main class="container">
      <router-outlet></router-outlet>
    </main>

    <footer class="container text-center" style="margin-top:40px">
      <img src="assets/img/unam-cieg.png">
      <img src="assets/img/onu-mujeres.png">
      <img src="assets/img/inmujeres.png">
      <img src="assets/img/cndh.png">
      <img src="assets/img/conavim.png">
      <img src="assets/img/anuies.png">
      <img src="assets/img/renies.png">

      <p>CORREO<span>ruben_hernandez@cieg.unam.mx</span></p>
      <p>TELÉFONO<span>56222222</span></p>
      <p>EXTENSIÓN<span>82789</span></p>
      <button *ngIf="isAuthenticated" [routerLink]=" ['dashboard'] " mat-button><b>DASHBOARD</b></button>
      <button *ngIf="isAuthenticated" (click)="logout()" mat-button><b>CERRAR SESION</b></button>
      <button *ngIf="!isAuthenticated" [routerLink]=" ['login'] " mat-button><b>INICIAR SESION</b></button>
      <br>
      
      <i class="fa fa-facebook" aria-hidden="true"></i>
      <i class="fa fa-twitter" aria-hidden="true"></i>
      <i class="fa fa-linkedin" aria-hidden="true"></i>
      <i class="fa fa-google-plus" aria-hidden="true"></i>
      
    </footer>
  </mat-sidenav-content>
  <mat-sidenav #sidenav mode="over" position="end" [(opened)]="opened" >
    <div fxLayout="column">
      <button mat-button [matMenuTriggerFor]="ejesMenu" ><b>EJES</b></button>
      <mat-menu #ejesMenu="matMenu">
        <button *ngFor="let eje of ejes" 
          (click)="sidenav.close()"
          [routerLink]=" ['./eje/', eje.slug | lowercase ]" mat-menu-item>{{eje.nombre}}</button>
      </mat-menu>
      <filter></filter>
      <button routerLinkActive="active" (click)="sidenav.close()" mat-button [routerLink]=" ['./about'] "><b>ACERCA DE</b></button> 
    </div>
  </mat-sidenav>
</mat-sidenav-container>