.radio {
  margin-top: 5px;
  display: block;
}

.radio-extense > span{
	white-space: normal;
}


.radio-extense{
	white-space: normal;
}

.mat-radio-label {
    white-space: normal;
}



.principal-button {
  margin-top: 15px;
  width: 20%;
  background-color: #FE377F;
  color: #fff !important; 
  font-size: 15px;
}

.btn-disabled {
  color: rgba(0,0,0,.26) !important;
  background-color: rgba(0,0,0,.12);
  font-size: 15px;
}