<!-- <p style="color:red">Noticia, dentro del horario de 1 a 5 pm tendremos mantenimiento, es preferible guardar antes sus cambios.</p> -->
<mat-card style="margin-top:12px">
  
    <mat-tab-group [(selectedIndex)]="selected" (selectedTabChange)="verification($event)">
      
      <mat-tab label="Principal">
        <mat-card>
          <form [formGroup]="firstFormGroup"  style="border: 1px solid rgb(133, 128, 128); border-radius: 5px; margin: 5px; padding: 15px;"> 
            <div style="margin-top: 30px;">
              <label><strong style="margin-top: 15px; font-size: 18px;">Nombre</strong></label><br>
              <mat-form-field style="width: 40%">
                  <input matInput type="text" placeholder="Nombre" formControlName="nombre" required>
                  <mat-error style="margin-bottom: 30px;" *ngIf="firstFormGroup.get('nombre').hasError('required')">El nombre es requerido</mat-error>
              </mat-form-field>
            </div>

            <div style="margin-top: 30px;">
              <label><strong style="margin-top: 15px; font-size: 18px;">Siglas</strong></label><br>
              <mat-form-field>
                  <input matInput type="text" placeholder="Siglas" formControlName="siglas" required>
                  <mat-error style="margin-bottom: 30px;" *ngIf="firstFormGroup.get('siglas').hasError('required')">Las siglas son requeridas</mat-error>
              </mat-form-field>
            </div>

            <div>
              <div *ngIf="logoFiles">
                <mat-list>
                  <mat-list-item>
                    <h4 mat-line> <a href="{{logoFiles.url}}" target="blank">{{logoFiles.name}}</a></h4>
                  </mat-list-item>
                </mat-list>
              </div>
              <div style="margin-top: 15px;">
                <label><strong style="margin-top: 15px; font-size: 18px;">Logo</strong></label><br>
                <button type="button" mat-button color="accent" (click)="logoInput.click()">
                    Agregar logotipo <mat-icon>attachment</mat-icon>
                </button>
                <input hidden type="file" #logoInput (change)="addFilePrincipales($event, 'logo')"/>
              </div>
            </div>

            <div style="margin-top: 30px;">
              <label><strong style="margin-top: 15px; font-size: 18px;">Número de entidades académicas de acuerdo con el organigrama de la institución:</strong></label><br>
              <mat-form-field>
                  <input matInput type="number" placeholder="" formControlName="ent_acad" required>
                  <mat-error style="margin-bottom: 30px;" *ngIf="firstFormGroup.get('ent_acad').hasError('required')">El número de entidades académicas es requerido</mat-error>
              </mat-form-field>
            </div>

            <div style="margin-top: 30px;">
              <label><strong style="margin-top: 15px; font-size: 18px;">Número de dependencias administrativas de acuerdo con el organigrama de la institución:</strong></label><br>
              <mat-form-field>
                  <input matInput type="number" placeholder="" formControlName="dep_admin" required>
                  <mat-error style="margin-bottom: 30px;" *ngIf="firstFormGroup.get('dep_admin').hasError('required')">El número de dependencias administrativas es requerido</mat-error>
              </mat-form-field>
            </div>

            <div style="margin-top: 30px;">
              <label><strong style="margin-top: 15px; font-size: 18px;">Número de planes de estudio de licenciatura y/o posgrado:</strong></label><br>
              <mat-form-field>
                  <input matInput type="number" placeholder="" formControlName="planes_est" required>
                  <mat-error style="margin-bottom: 30px;" *ngIf="firstFormGroup.get('planes_est').hasError('required')">El número de planes de estudio de licenciatura y/o posgrado es requerido</mat-error>
              </mat-form-field>
            </div>

            <div>
              <div *ngIf="organigramaFiles">
                <mat-list>
                  <mat-list-item>
                    <h4 mat-line> <a href="{{organigramaFiles.url}}" target="blank">{{organigramaFiles.name}}</a></h4>
                  </mat-list-item>
                </mat-list>
              </div>
              <div style="margin-top: 15px;">
                <label><strong style="margin-top: 15px; font-size: 18px;">Organigrama</strong></label><br>
                <button type="button" mat-button color="accent" (click)="organigramaInput.click()">
                    Agregar documento <mat-icon>attachment</mat-icon>
                </button>
                <input hidden type="file" #organigramaInput (change)="addFilePrincipales($event, 'organigrama')"/>
              </div>
            </div>
                
            <button type="button" mat-button class="principal-button" [ngClass]="{ 'btn-disabled': firstFormGroup.invalid }" [disabled]="firstFormGroup.invalid" (click)="savePrincipales()">GUARDAR</button>
          </form>
        </mat-card>
      </mat-tab>

      <mat-tab label="Ejes">
        <mat-card>
          <form [formGroup]="secondFormGroup">
            <div *ngFor="let eje of ejes">
              <h2>{{eje.nombre}}</h2>

              <div *ngFor="let indicador of eje.indicadores" style="border: 1px solid rgb(133, 128, 128); border-radius: 5px; margin: 5px; padding: 15px;">
                <h3>{{indicador.nombre}}</h3>
                <p>{{indicador.nota}}</p>

                <span style="color: rgb(133, 135, 138); font-size: 15px;">SELECCIONE PARA CADA PREGUNTA LA OPCIÓN QUE MÁS SE AJUSTA A LA SITUACIÓN ACTUAL DE SU INSTITUCIÓN</span>
                
                <div style="margin-top: 15px;" *ngFor="let pregunta of indicador.questions; let i = index">
                  
                  <ng-container *ngIf="pregunta.options; else second">
                    <label><strong style="text-align: justify">{{pregunta.text}}</strong></label> <br>
                    <div style="margin-top: 15px;">
                      <mat-radio-group formControlName="{{pregunta.control}}">
                        <mat-radio-button value="1">Si</mat-radio-button>
                        <mat-radio-button value="0">No</mat-radio-button>
                        <mat-radio-button value="-1">No aplica</mat-radio-button>
                      </mat-radio-group>
                    </div>
                  </ng-container>

                  <ng-template #second>
                    <ng-container>
                      <div *ngFor="let instancia of pregunta.instancias">
                        <label><strong style="text-align: justify">{{instancia.text}}</strong></label><br>
                        <mat-form-field>
                          <input matInput type="number" formControlName="{{instancia.control}}" placeholder="">
                        </mat-form-field>
                      </div>              
                    </ng-container>
                  </ng-template>

                  <div style="margin-top: 15px; margin-bottom: 15px;">
                      <label style="color: rgb(164, 192, 233); font-size: 15px;">{{pregunta.archivo_probatorio}}</label>
                      <div *ngIf="pregunta.files.length > 0">
                        <mat-list>
                          <mat-list-item *ngFor="let file of pregunta.files">
                            <h4 mat-line> <a href="{{file.url}}" target="blank">{{file.name}}</a>  <mat-icon mat-list-icon style="color: #FE377F" (click)="deleteFileEjesQuestion(pregunta.id, file)">delete</mat-icon></h4>
                          </mat-list-item>
                        </mat-list>
                      </div>
                      <div>
                        <button type="button" mat-button color="accent" (click)="fileInput.click()">
                          Agregar documento <mat-icon>attachment</mat-icon>
                        </button>
                        <input hidden type="file" #fileInput (change)="addFileEjesQuestion($event, pregunta.id)" multiple/>
                      </div>
                      <hr>
                    </div>
                </div>
                
                <div style="text-align: left">
                  <button type="button" mat-button class="principal-button" (click)="saveEjesQuestion(indicador.indicador_id)">GUARDAR</button>
                </div>
                    
              </div>   
            </div>
          </form>
        </mat-card>
      </mat-tab>

      <mat-tab label="Población">
        <mat-card>
         <form [formGroup]="threeFormGroup">
          <div *ngFor="let poblacion of poblaciones">
            <h3>{{poblacion.nombre_poblacion}}</h3>
              <div *ngFor="let grupo_segmento of poblacion.grupos_segmento" style="border: 1px solid rgb(133, 128, 128); border-radius: 5px; margin: 5px; padding: 15px;">
                <h4><strong>{{grupo_segmento.nombre}}</strong></h4>
                <span><strong>{{grupo_segmento.pregunta}}</strong></span>
                <br>
                <span style="color: rgb(133, 135, 138); font-size: 15px;">Utilizar datos del último ciclo académico iniciado en 2017 en la IES</span>
                <div *ngFor="let segmento of grupo_segmento.segmentos" style="margin-top: 15px;" >
                  <span>{{segmento.nombre}}</span><br>
                  <span *ngIf="segmento.descripcion">{{segmento.descripcion}}</span><br>
                  <mat-form-field *ngIf="segmento.is_name_requiered">
                    <input matInput type="text" formControlName="nombre_{{segmento.control}}" placeholder="Plan de estudios">
                  </mat-form-field>
                  <mat-form-field>
                    <input matInput type="number" formControlName="mujeres_{{segmento.control}}" placeholder="Total de mujeres">
                  </mat-form-field>
                  <mat-form-field>
                    <input matInput type="number" formControlName="hombres_{{segmento.control}}" placeholder="Total de hombres">
                  </mat-form-field>
                  <mat-checkbox formControlName="sin_informacion_{{segmento.control}}">Sin Información</mat-checkbox>
                  
                  <mat-checkbox formControlName="no_aplica_{{segmento.control}}">No Aplica</mat-checkbox>
                  
                  <br>
            
                </div>
                <button type="button" mat-button class="principal-button" (click)="savePoblaciones(grupo_segmento)">GUARDAR</button>

              </div>
          </div>
         </form>
        </mat-card> 
      </mat-tab>

      <mat-tab label="Otros">
        <mat-card>
          <form [formGroup]="fourFormGroup" style="border: 1px solid rgb(133, 128, 128); border-radius: 5px; margin: 5px; padding: 15px;">
              <div>
                <span><strong>¿Cuántas salas de lactancia existen en la institución?</strong></span> <br>
                <mat-form-field>
                  <input matInput type="number" formControlName="lactancia" placeholder="Lactancia">
                </mat-form-field>
              </div>
              <div>
                <span><strong>¿Cuántas guarderías tiene su institución?</strong></span> <br>
                <mat-form-field>
                  <input matInput type="number" formControlName="guarderias" placeholder="Guarderías">
                </mat-form-field>
              </div>
              <div>
                <span><strong>¿Cuántas licencias de paternidad se ejercieron en 2017 en la institución?</strong></span> <br>
                <mat-form-field style="width: 25%">
                  <input matInput type="number" formControlName="licencias_paternidad" placeholder="Licencias de paternidad">
                </mat-form-field>
              </div>
              <div>
                <span><strong>¿Cuántas licencias de maternidad se ejercieron en 2017 en la institución?</strong></span> <br>
                <mat-form-field style="width: 25%">
                  <input matInput type="number" formControlName="licencias_maternidad" placeholder="Licencias de maternidad">
                </mat-form-field>
              </div>
              <div>
                <span><strong>¿Cuál es el porcentaje de población LGBTIQ de la institución?</strong></span> <br>
                <mat-form-field style="width: 25%">
                  <input matInput type="number" formControlName="pob_lgbtiq_est" placeholder="Población Estudiantil">
                  <span matSuffix>%</span>
                </mat-form-field>
                <mat-form-field style="width: 25%">
                  <input matInput type="number" formControlName="pob_lgbtiq_acad" placeholder="Personal académico">
                  <span matSuffix>%</span>
                </mat-form-field>
                <mat-form-field style="width: 25%">
                  <input matInput type="number" formControlName="pob_lgbtiq_admin" placeholder="Personal administrativo">
                  <span matSuffix>%</span>
                </mat-form-field>
              </div>
              <div>
                <span><strong>¿Cuántas quejas por violencia de género se presentaron en 2017?</strong></span> <br>
                <mat-form-field>
                  <input matInput type="number" formControlName="quejas_genero_hom" placeholder="Por hombres">
                </mat-form-field>
                <mat-form-field>
                  <input matInput type="number" formControlName="quejas_genero_muj" placeholder="Por mujeres">
                </mat-form-field>
                <mat-form-field style="width: 25%">
                  <input matInput type="number" formControlName="quejas_genero_lgbtiq" placeholder="Por personas LGBTIQ">
                </mat-form-field>
              </div>
              <div>
                <span><strong>¿Cuál es la prevalencia de violencia de género en su institución?</strong></span> <br>
                <mat-form-field>
                  <input matInput type="number" formControlName="prev_violencia_hom" placeholder="Estudiantes">
                </mat-form-field>
                <mat-form-field>
                  <input matInput type="number" formControlName="prev_violencia_muj" placeholder="Personal académico">
                </mat-form-field>
                <mat-form-field style="width: 25%">
                  <input matInput type="number" formControlName="prev_violencia_lgbtiq" placeholder="Personal administrativo">
                </mat-form-field>
              </div>
              <div>
                <span><strong>A lo largo su historia, ¿cuántas mujeres y cuántos hombres han ocupado el máximo puesto directivo de la institución (rectoría, dirección, presidencia)?</strong></span> <br>
                <mat-form-field>
                  <input matInput type="number" formControlName="hombres_directores" placeholder="Por hombres">
                </mat-form-field>
                <mat-form-field>
                  <input matInput type="number" formControlName="mujeres_directoras" placeholder="Por mujeres">
                </mat-form-field>
              </div>

              <button type="button" mat-button class="principal-button" (click)="saveOtros()">GUARDAR</button>
          </form>
        </mat-card>
      </mat-tab>
    
    </mat-tab-group>

</mat-card>