<h1 class="text-center">Observatorio Nacional para la Igualdad de Género 
  en las Instituciones de Educación Superior</h1>

<mat-card style="margin-top:12px" class="introduction">
  <img class="float-left main-img" height="200px" src="assets/img/onigies-logo.png">
  <p style="display:inline">
  El Observatorio Nacional nació con el fin 
  de producir información relevante sobre el estado de avance de la igualdad 
  de género en el ámbito de la educación superior en México. Visibilizamos 
  brechas, detectamos asimetrías y evidenciamos injusticias para 
  promover la construcción de instituciones educativas igualitarias</p>
  <br>
  <button 
    (click)="showMore = true" 
    *ngIf="!showMore" 
    mat-button color="primary" 
    class="float-right text-uppercase">
    Ver más
  </button>

  <p *ngIf="showMore" style="display:grid;">El Observatorio Nacional para la Igualdad de Género en las Instituciones de Educación Superior es un instrumento de medición del estado de avance de la igualdad de género que se encarga de recabar, sistematizar y presentar datos estadísticos actualizados y actualizables sobre las IES mexicanas.</p>
  <div class="clearfix"></div>
  
  <span *ngIf="showMore">
    <h2>Objetivo general</h2>
    El objetivo general del Observatorio Nacional es mostrar información 
    relevante sobre el estado de avance en materia de igualdad de género
    en las IES del territorio mexicano, y promover la visibilidad pública
    de las principales brechas, asimetrías e injusticias detectadas para
    impulsar políticas de institucionalización y transversalización de la
    perspectiva de género en todas las estructuras, poblaciones y 
    funciones sustantivas de las instituciones de educación superior.
  
    <h2>Para ello</h2>
    Reunirá, de manera sistemática, evidencias cuantitativas, comparables,
    actualizadas y actualizables, sobre ocho ejes de medición de la igualdad
    de género en las instituciones de educación superior: <b>1)</b> Legislación, 
    <b>2)</b> igualdad de oportunidades, <b>3)</b> conciliación de la vida profesional y la vida familiar, 
    <b>4)</b> estadísticas y diagnósticos con perspectiva de género, <b>5)</b> lenguaje, 
    <b>6)</b> sensibilización de la comunidad universitaria, 
    <b>7)</b> estudios de género en la educación superior, y 
    <b>8)</b> violencia de género en el ámbito laboral y escolar
    
    <img class="img-ejes" style="display:block;margin:24px auto" src="assets/img/octagono.png">
    
    <h2>Objetivos específicos</h2>
    <ul>
      <li>Diseñar un sistema de indicadores de medición del estado de
         avance de la igualdad de género para las IES.</li>
         
      <li>Desarrollar una plataforma electrónica que permita presentar
         y actualizar los datos relativos al estado de la igualdad de 
         género en las IES.</li>
         
      <li>Promover la participación de la Red Nacional de Instituciones
         de Educación Superior. Caminos para la Igualdad (RENIES-Igualdad) y 
         de otras IES en el Observatorio.</li>
         
      <li>Promover que las IES produzcan, proporcionen y actualicen la
         información sobre su estado de avance en materia de igualdad de género.</li>
         
      <li>Difundir las principales brechas, asimetrías e injusticias detectadas a nivel general y particular en las IES para que las autoridades impulsen políticas de institucionalización y transversalización de la perspectiva de género.</li>
    </ul>
    
    <h2>Instituciones coordinadoras</h2>
    
    <ul>
      <li>Universidad Nacional Autónoma de México – Centro de Investigaciones y Estudios de Género (CIEG-UNAM) </li>
      <li>Entidad de la ONU para la Igualdad de Género y el Empoderamiento de la Mujer (ONU Mujeres) </li>
      <li>Instituto Nacional de las Mujeres (Inmujeres) </li>
      <li>Comisión Nacional de los Derechos Humanos (CNDH) </li>
      <li>Comisión Nacional para Prevenir y Erradicar la Violencia contra las Mujeres (Conavim) </li>
      <li>Asociación Nacional de Universidades e Instituciones de Educación Superior (ANUIES) </li>
    </ul>
    
    <h2>IES participantes</h2>
    
    <ul>
      
      <li>Red Nacional de Instituciones de Educación Superior. Caminos para la Igualdad (RENIES-Igualdad). Constituida por 54 IES</li>

    </ul>
  
  </span>
    
  <div class="clearfix"></div>
</mat-card>

<mat-card style="margin-top:12px">Explicación metodológica</mat-card>

<bolitas *ngIf="router.url === '/'"></bolitas>
