/* Structure */
.example-container {
  display: flex;
  flex-direction: column;
  min-height: 300px;
  position: relative;
  margin-top: 12px;
}

.example-header {
  min-height: 64px;
  display: flex;
  align-items: baseline;
  padding: 8px 24px 0;
  font-size: 20px;
  justify-content: space-between;
  background-color: #fff;
}

.mat-form-field {
  font-size: 14px;
  flex-grow: 1;
}

.links{
  cursor: pointer;
}

.example-table {
  overflow: auto;
  min-height: 300px;
}

.example-loading-shade {
  position: absolute;
  top: 56px;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-bolitas{
  font-weight: bold !important;
}

.no-break{
  word-wrap: normal;
}


#tooltip {
  position: fixed;
  width: 200px;
  height: auto;
  padding: 10px;
  background-color: white;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  pointer-events: none;
  z-index: 10;
  text-align: center;
  left: 50%;
  margin-left: -100px;
  top: 50%;
  margin-top: -25px;
}

#tooltip.hidden {
  display: none;
}

#tooltip p {
  margin: 0;
  font-family: Futura;
  font-size: 16px;
  line-height: 20px;
}