
  <div id="tooltip" class="hidden">
    <p><span id="indicador-text">Valor del indicador</span>:</p>
    <p style="font-size: 14pt;"><strong><span id="value">-</span></strong> de 5</p>
  </div>
<mat-card style="margin-top:12px">
  <!--<div *ngIf="dataSource.isLoadingResults" class="example-loading-shade">
    <mat-spinner *ngIf="dataSource.isLoadingResults"></mat-spinner>
  </div>-->
  <mat-table #table [dataSource]="dataSource" class="example-table">

    <ng-container  *ngFor="let column of columns" [matColumnDef]="column.columnDef">
      <span class="header-bolitas" *ngIf="column.header != 'siglas' && column.header != 'Igualdad'">
        <mat-header-cell [ngClass]="{'links':algo}" class="no-break" matTooltip="{{column.columnDef}}" *matHeaderCellDef routerLink="/eje/{{column.header}}"> 
          {{column.header}}
        </mat-header-cell>
        <!--<mat-cell *matCellDef="let row" matTooltip="" [ngClass]="{'chart': column.cell(row) !== null}" style="display: block;">-->
        <mat-cell *matCellDef="let row" matTooltip="" class="chart" style="display: block;">
        </mat-cell>
      </span>
      <span class="header-bolitas" *ngIf="column.header == 'Igualdad'">
        <mat-header-cell *matHeaderCellDef > Igualdad  </mat-header-cell>
        <mat-cell style="display: block;" matTooltip="Ir a Igualdad" *matCellDef="let row"> 
          <button style="width: 100%;" mat-icon-button color="accent" [routerLink]=" ['./eje/igualdad']">
            <mat-icon aria-label="Ícono de menú desplegable">launch</mat-icon>
          </button>
        </mat-cell>
      </span>
      
      <span class="header-bolitas" *ngIf="column.header == 'siglas'">
        <mat-header-cell  *matHeaderCellDef >
          <mat-form-field floatPlaceholder="never">
            <input matInput #filter placeholder="Filtrar instituciones">
          </mat-form-field>
        </mat-header-cell>
        <mat-cell class="links" *matCellDef="let row" matTooltip="{{row.nombre}}" matTooltipHideDelay="1000" routerLink="/ies/{{row.siglas}}"> {{row.siglas}} </mat-cell>
      </span>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"  > </mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;" ></mat-row>
  </mat-table>
</mat-card>


